<cp-application-shell #shell></cp-application-shell>

<mat-toolbar color="primary" cpUseRegion="app.header">
  <button (click)="app.leftPanel.opened = !app.leftPanel.opened">L</button>Header<button
    (click)="app.rightPanel.opened = !app.rightPanel.opened">R</button>
  ---
  <div>
    {{
    [
    ['xs', 'extra small'],
    ['sm', 'small'],
    ['md', 'medium'],
    ['lg', 'large'],
    ['xl', 'extra large'],
    ] | breakpoints | async | json }}
  </div>

</mat-toolbar>

<mat-toolbar cpUseRegion="app.footer">
  <pre>
    {{breakpoint | async | json}}
  </pre>
  Footer
  <button [routerLink]="['', {outlets:{modal: ['test']}}]">11111</button>
  <button [routerLink]="['', {outlets:{modal: null}}]">22222</button>
</mat-toolbar>


<div cpUseRegion="app.panel.left">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat vel reiciendis assumenda incidunt debitis cupiditate
  asperiores tenetur sunt quos, facere aspernatur, non ipsam unde quaerat, eaque animi expedita praesentium? Voluptates?
</div>

<div cpUseRegion="app.panel.right">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime dignissimos sit, quia nesciunt labore doloribus,
  architecto exercitationem similique illum a facilis, cum voluptate. Voluptate officiis repellendus dicta recusandae
  nulla! Perferendis!
</div>

<div cpUseRegion="app.left" style="order: -1;">left</div>
<div cpUseRegion="app.right" style="order: 1;">right</div>
<div cpUseRegion="app.right" style="order: -1;">right2</div>
<!--


  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      <ng-container [cpRegion]="'app.preTitle'"></ng-container>
      <h1>title</h1>
      <ng-container [cpRegion]="'app.postTitle'"></ng-container>
      <ng-container [cpRegion]="'app.header'"></ng-container>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" [opened]="true" mode="side">
      <mat-nav-list>
        <mat-list-item routerLink="/">
          Home
        </mat-list-item>
        <ng-container [cpRegion]="'app.nav.home'"></ng-container>
        <mat-list-item routerLink="/web-cdk">
          CDK
        </mat-list-item>
        <ng-container [cpRegion]="'app.nav.cdk'"></ng-container>
        <mat-list-item routerLink="/web-components">
          Components
        </mat-list-item>
        <ng-container [cpRegion]="'app.nav.components'"></ng-container>
      </mat-nav-list>
      <ng-container [cpRegion]="'app.sideNav'"></ng-container>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>

-->
