<cp-application-shell></cp-application-shell>

<ng-container *ngIf="app.leftPanel.canToggle">
  <button *cpUseUiOutlet="'app.header.toolbar.left'" (click)="app.leftPanel.toggle()">L</button>
</ng-container>

<ng-container *ngIf="app.rightPanel.canToggle">
  <button *cpUseUiOutlet="'app.header.toolbar.right'" (click)="app.rightPanel.toggle()">R</button>
</ng-container>



<div *cpUseUiOutlet="'app.panel.left'">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat vel reiciendis assumenda incidunt debitis cupiditate
  asperiores tenetur sunt quos, facere aspernatur, non ipsam unde quaerat, eaque animi expedita praesentium? Voluptates?
</div>


<ng-container *ngIf="showR">
  <div *cpUseUiOutlet="'app.panel.right'" >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime dignissimos sit, quia nesciunt labore doloribus,
    architecto exercitationem similique illum a facilis, cum voluptate. Voluptate officiis repellendus dicta recusandae
    nulla! Perferendis!
  </div>
</ng-container>


<div *cpUseUiOutlet="'app.internal.right'" style="order: -1; pointer-events: all;">
  <button (click)="showR = !showR">Show</button>
</div>


<!--

  <div class="container">
    <ng-container cpUiOutlet="test"></ng-container>
  </div>

  <div *cpUseUiOutlet="'test'" class="ui-element">
    aa
  </div>
-->
<!--















<div cpUseUiOutlet="app.header">
  {{
  [
  ['xs', 'extra small'],
  ['sm', 'small'],
  ['md', 'medium'],
  ['lg', 'large'],
  ['xl', 'extra large'],
  ] | breakpoints | async | json }}
</div>

<div cpUseUiOutlet="app.header">
  <button routerLink="web-cdk">web-cdk</button>
  <button routerLink="web-components">web-components</button>
</div>

<!--


  <mat-toolbar color="primary" cpUseUiOutlet="app.internal.header">

    <button (click)="app.leftPanel.toggle()" *ngIf="app.leftPanel.canToggle">L</button>Header<button
    (click)="app.rightPanel.toggle()" *ngIf="app.rightPanel.canToggle">R</button>

    <div>
      {{
        [
        ['xs', 'extra small'],
        ['sm', 'small'],
        ['md', 'medium'],
        ['lg', 'large'],
        ['xl', 'extra large'],
        ] | breakpoints | async | json }}
      </div>
      <button routerLink="web-cdk">web-cdk</button>
      <button routerLink="web-components">web-components</button>

    </mat-toolbar>
  -->
<!--
<mat-toolbar *cpUseUiOutlet="'app.footer'">
  Footer
  <button [routerLink]="['', {outlets:{modal: ['test']}}]">11111</button>
  <button [routerLink]="['', {outlets:{modal: null}}]">22222</button>
</mat-toolbar>






<div cpUseUiOutlet="app.internal.left" style="order: -1;">left</div>
<div cpUseUiOutlet="app.internal.right" style="order: 1;">right</div>




<!--


      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
          <ng-container [cpRegion]="'app.preTitle'"></ng-container>
          <h1>title</h1>
          <ng-container [cpRegion]="'app.postTitle'"></ng-container>
      <ng-container [cpRegion]="'app.header'"></ng-container>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" [opened]="true" mode="side">
      <mat-nav-list>
        <mat-list-item routerLink="/">
          Home
        </mat-list-item>
        <ng-container [cpRegion]="'app.nav.home'"></ng-container>
        <mat-list-item routerLink="/web-cdk">
          CDK
        </mat-list-item>
        <ng-container [cpRegion]="'app.nav.cdk'"></ng-container>
        <mat-list-item routerLink="/web-components">
          Components
        </mat-list-item>
        <ng-container [cpRegion]="'app.nav.components'"></ng-container>
      </mat-nav-list>
      <ng-container [cpRegion]="'app.sideNav'"></ng-container>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>

-->
