
@use '../../../../materialTheme';

$theme:(
  palettes: (
    primary: materialTheme.usePalette("orange"),
    accent: materialTheme.usePalette("blue"),
    warn: materialTheme.usePalette("red"),
  ),
  background: materialTheme.useBackgroundPalette("bg-dark"),
  foreground: materialTheme.useForegroundPalette("bg-dark"),
)
