
$palette: (
  50: #f9f9f9,
  100: #efeff1,
  200: #e4e4e7,
  300: #d9d9dd,
  400: #d1d1d6,
  500: #c9c9cf,
  600: #c3c3ca,
  700: #bcbcc3,
  800: #b5b5bd,
  900: #a9a9b2,
  A50: rgba(#f9f9f9, 0.04),
  A100: rgba(#f9f9f9, 0.12),
  A200: rgba(#f9f9f9, 0.26),
  A400: rgba(#f9f9f9, 0.38),
  A500: rgba(#f9f9f9, 0.54),
  A900: rgba(#f9f9f9, 0.87),
  contrast: (
    50: #00001a,
    100: #000024,
    200: #000033,
    300: #00003d,
    400: #000047,
    500: #000052,
    600: #00005c,
    700: #000066,
    800: #000070,
    900: #00007a,
    A50: rgba(#00001a, 0.04),
    A100: rgba(#00001a, 0.12),
    A200: rgba(#00001a, 0.26),
    A400: rgba(#00001a, 0.38),
    A500: rgba(#00001a, 0.54),
    A900: rgba(#00001a, 0.87),
  ),
);
